* {
    font-family: 'Montserrat', sans-serif;
    color: aliceblue;
  }
  
  main {
    min-height: 90vh;
  }
  
  /* sidebar */
  .left-sidebar {
    background-color: black;
    width: 15vw;
  }
  
  .sidebar-top img {
    width: 50px;
  }
  
  .sidebar-top h3 {
    color: white;
    vertical-align: middle;
    font-size: 1.5rem;
    margin-bottom: 0;
  }
  
  .left-sidebar div {
    color: var(--text-dark);
    font-size: 0.7rem;
  }
  
  .left-sidebar>div:not(.sidebar-top) {
    padding: 0.5rem;
  }
  
  .left-sidebar>div:not(.sidebar-top) div {
    padding: 0.4rem;
  }
  
  .sidebar-second-block,
  .sidebar-third-block {
    font-weight: 600;
  }
  
  .left-sidebar i {
    font-size: 1rem;
  }
  
  .sidebar-bottom i {
    font-size: 0.9rem;
  }
  
  .sidebar-second-block .slidebar-selected {
    background-color: #282828;
    border-radius: 3px;
    color: white;
  }
  
  /* footer and mediaquery*/ 
  .footer {
    height: 10vh;
    background-color: #171818;
    position: sticky;
    bottom: 0;
  
  }
  
  .footer-icon1 {
    color: aliceblue;
    font-size: 1rem;
    opacity: 0.5;
  }
  
  .footer-icon2 {
    color: aliceblue;
    font-size: 1.5rem;
    opacity: 0.7;
  }
  
  .play {
    font-size: 2rem;
    color: aliceblue;
  }
  
  .play:hover {
    color: darkgreen;
    cursor: pointer;
  }
  
  .footer-play-bar {
    height: 6%;
    width: 35vw;
  
    border-radius: 100px;
    box-sizing: border-box;
    background-color: aliceblue;
  }
  
  .footer-stop {
    height: 6px;
    width: 200px;
    background-color: #171818;
    border: 1px solid aliceblue;
    border-radius: 100px;
  }
  
  .number-play {
    color: aliceblue;
  }
  
  .volume {
    height: 0.6vh;
    width: 5vw;
    background-color: aliceblue;
    border-radius: 100px;
  }
  
  @media (max-width:576px) {
    body h1 {
        color: yellow !important;
    }
  
    .left-sidebar,
    .artist-page-bottom-right,
    .artist-page-bottom-left td:nth-child(5),
    .right-div,
    .heart-grid-icon,
    .number-play {
        display: none !important;
    }
  
    .footer {
        flex-direction: column;
        height: 100%;
    }
  
    .img-footer img {
        height: 30px !important;
    }
  
  }
  
  @media (min-width:577px) and (max-width:992px) {
    body h1 {
        color: tomato !important;
    }
  
  
  
    .artist-page-bottom-left td:nth-child(2) {
        width: 10%;
    }
  
    .sidebar-bottom {
        white-space: wrap;
        overflow: visible;
        text-overflow: ellipsis;
    }
  
    #veryright {
        flex-direction: row !important;
    }
  
    .left-sidebar>div:not(.sidebar-second-block),
    .right-div,
    .footer-icon1,
    .text-footer p {
        display: none !important;
    }
  
    .sidebar-second-block {
        margin-top: 2rem;
    }
  
    body {
        position: relative;
    }
  
    .left-sidebar {
        width: 30vw;
    }
  
    .footer {
        flex-direction: column;
        justify-content: space-evenly !important;
        position: fixed;
        bottom: 0;
        left: 0;
        width: 23vw;
        height: 35vh;
    }
  
    body {
        background-color: #171818;
    }
  
    .left-div,
    .middle-div {
        flex-direction: column;
        width: 90%;
        align-items: center;
        text-align: center;
        justify-content: center;
    }
  
    .footer-stop {
        width: 22px;
    }
  
    .footer-play-bar {
        width: 13vw;
    }
  
    .img-footer img {
        height: 100px !important;
        margin: auto;
    }
  
    .text-footer {
        text-align: center;
    }
  }
  
  /* header */
  
  .button {
    height: 32px;
    width: 160px;
    background: #171818;
    border-radius: 100px;
    box-sizing: border-box;
    color: white;
    font-weight: 600;
  }
  
  .fa-caret-down {
    font-size: 1rem;
  }
  
  .fa-circle-chevron-left {
    font-size: 2rem;
    color: #171818;
  }
  
  .fa-circle-chevron-right {
    font-size: 2rem;
    opacity: 0.7;
    color: #171818;
  }
  
  /* table css */ 
  tr:hover {
    background-color: rgb(102, 3, 77);
    cursor: pointer ;
  }